* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke; }

.textoCentrado, p, .textoNav, h1, h3, h4 {
  text-align: center; }

p {
  padding: 1rem;
  font-size: 150%;
  color: #364646;
  font-family: "Forum"; }

.textoNav {
  display: flex;
  margin: 0.5rem;
  padding: 10px;
  font-family: "Forum"; }
  .textoNav:hover {
    background-color: #888888;
    color: black;
    font-weight: bold; }

.textoServicios {
  text-align: justify;
  font-family: "Forum"; }

h1, h3, h4 {
  color: #364646;
  font-family: "Forum"; }

ul, li {
  list-style: none;
  font-family: "Forum"; }

.header {
  background-image: linear-gradient(to bottom, whitesmoke); }

.logo {
  width: 15em;
  height: 13rem;
  opacity: 0.9;
  border: 2px #949493;
  border-radius: 3%; }

.navActivo {
  color: black; }

.footer {
  font-family: "Lora";
  color: #364646; }
  .footer .linksFooter {
    list-style: none;
    display: flex;
    justify-content: flex-end; }

.imgInicio {
  height: 20rem;
  opacity: 0.9;
  border-radius: 1.5%; }

.descripcion {
  background-color: transparent;
  width: 75%; }

.form-control, .form-select {
  width: 50%; }

@media screen and (max-width: 425px) {
  .form-control, .form-select {
    width: 100%; } }

.show-cart li {
  display: flex; }

.card {
  margin-bottom: 20px; }

.card-img-top {
  align-self: center; }

.article {
  background-color: #fadacb; }
