.footer{
    font-family: $tipografiaTitulos;
    color: $grisVerdoso;
    .linksFooter {
        list-style: none;
        display: flex;
        margin: 0.8rem;
        justify-content: flex-end;
      }
  }
  