.header{
    background-image: linear-gradient( to bottom,#fccab3 0%, #fae3d8 40%);
}
.logo{
    width: 15em;
    height: 13rem;
    opacity: 0.9;
    border: 2px $grisClaro;
    border-radius: 3%;
  }
  .navActivo{
    color: black;
}
