@mixin colorYLetra($colorLetra, $font){
  color: $colorLetra;
  font-family: $font;
}
.textoCentrado{
  text-align: center;
}

p{
    
    padding: 1rem;
    font-size: 150%;
    @include colorYLetra($grisVerdoso,$tipografiaTitulos);
    @extend .textoCentrado
    
  }
  .textoNav{
    display: flex;
    margin: 0.5rem;
    padding: 10px;
    font-family: $tipografiaTitulos;
    @extend .textoCentrado;
    &:hover{
        background-color: #888888;
        color: black;
        font-weight: bold;
      }
  }
.textoServicios {
    text-align: justify;
    font-family: $tipografiaRelleno ;
  }
  h1,h3,h4{
    @include colorYLetra ($grisVerdoso, $tipografiaTitulos);
    @extend .textoCentrado;
  }
  ul,li{
    list-style: none;
    font-family: $tipografiaTitulos;
  }


  