$grisVerdoso: #364646;
$grisClaro:#949493;
$tipografiaTitulos:"Forum";
$tipografiaRelleno:"Lora";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fae3d8;
    
  }
  
 
@import "tipografias";
@import "header";
@import "footer";
@import "inicio";
@import "contactos";
@import "servicios";