$grisVerdoso: #364646;
$grisClaro:#949493;
$tipografiaTitulos:"Caveat Brush";
$tipografiaRelleno:"Patrick Hand SC";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #9eabe4;
    background-image: linear-gradient( to top,#f9ab87 15%, #ffbb9c  35%, #fccab3 40%);
  }
  
 
@import "tipografias";
@import "header";
@import "footer";
@import "inicio";